/* page layout */

.quilt-hanging-tool-container {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.quilt-hanging-tool {
    flex: 1 1 auto;
    display: grid;
    grid-template-columns: minmax(24vw, 2fr) minmax(50vw, 6fr) minmax(24vw, 2fr);
    grid-template-rows: repeat(10, minmax(7vh, 1fr));
    max-height: 70vh;
    column-gap: .5vw;
    row-gap: .25em;
}

.quilt-hanging-tool > div {
    border: 1px solid darkgray;
}
.quilt-hanging-tool canvas {
    border: 0;
}

.hanging-unit-selector {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 6;
}

.wall-selector {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 6;
    grid-row-end: 10;
}

.quilt-selector {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 10;
    overflow-y: scroll;
    overflow-x: hidden;
}

.wall-hanging {
    grid-row-start: 1;
    grid-row-end: 10;
}



/* quilt selector styles */
.list-actions {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
    margin-bottom: .5em;
    border-bottom: solid 1px black;
    padding: .25em;
}

.list-actions label {
    margin-right: .5em;
}
.list-actions input {
    width: 4em;
}

button.nav-link.active {
    font-weight: bold;
}


.unhung-quilt-list .quilt {
    border: 2px solid darkgray;
    border-radius: 3px;
    white-space: nowrap;
    cursor: pointer;
    margin: .25em;

    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.test {
    border: 2px solid black; 
    width: 150px; 
    height: 150px;
}
