
.table-formatter {
    
}

.table-formatter thead {
    font-weight: bold;
    cursor: pointer;
}

.table-formatter .sort-column {
    text-decoration: underline;
}

.table-formatter tbody > tr:nth-child(2n) {
    background-color: lightgray;
}

.table-formatter td {
    padding: 0 1em;
    border: 1px solid black !important;
    page-break-inside: avoid;
}

.table-formatter .row-count {
    font-weight: bold;
    margin-left: 1em;
}
